body {
    background-color: hsl(0, 0%, 86%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}


.date-card {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    background-color: white;
    width: auto;
    border-radius: 0%;
    padding: 5%;
    border-bottom-right-radius: 25px;
    gap: 25px;
    width: 50%;
    
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.divider {
    width: 100%;
    border: 0.5px solid black;
}

.calc-btn {
    background-color: black;
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

.calc-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(0, 1%, 44%);
    font-weight: 700;
}

.box {
    border: 2px solid hsl(0, 0%, 86%);
    width: 100%;

}

hr {
    background-color: hsl(0, 0%, 86%);
    width: 100%;
}

.display-calc {
    font-weight: bold;
    font-size: 32px;
    font-style: italic;
}