body {
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items : center;

}

.logo {
    margin-left: 50px;
}

hr {
    border: 0.25px solid gray;
    width: 37.5%;
    position: fixed;
    margin-left: 7.5%;
    z-index: 1;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar > img {
    background-color: white;
    width: 48px;
    height: 48px;
    margin-left: 30px;
    border-radius: 50%;
    aspect-ratio: 1;
    justify-self: flex-start;
}

.navbar > div {
    display: flex;
    background-color: gray;
    padding: 0% 10%;
    justify-content: center;
    gap: 75px;
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 3.75px );
    -webkit-backdrop-filter: blur( 2px );
}

.content {
    margin : 2.5% 10%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.planet-text, .crew-text, .tech-text {
    width: 50%;
}

.planet-box, .crew-box, .tech-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.navbar > div > a {
    text-decoration: none;
    color: white;
    padding-block: 50px;
    height: 100%;
    font-size : 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.navbar > div > a:hover {
    border-bottom: 2.5px solid white;
    transition: 0.5s ease-out;
}

.planet {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    color: black;
    font-weight: 800;
    font-size: 32px;
    background-size: cover;
}

.planet > img {
    width: 100%;
    aspect-ratio: 1;
}

.planet-menu {
    display: flex;
    justify-content: space-between;
}

.planet-menu > p {
    text-decoration: none;
    color: white;
    padding-block: 5px;
    font-size : 16px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.planet-menu > p:hover {
    border-bottom: 2.5px solid white;
    transition: 0.5s ease-out;
    cursor: pointer;
}

.planet-stat {
    display: flex;
    gap: 20px;
}

.stat-1, .stat-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inactive {
    display: none;
}

.crew-box > img {
    width: 100%;
}

.pagination {
    margin-top: 10%;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.tech-pagination {
    display: flex;
    flex-direction: column;
}

.dot {
    background-color: white;
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.tech-pagination {
    display: flex;
    flex-direction: column;
    padding: 2.5%;
    gap: 20px;
}

.tech-btn {
    border: 2px solid white;
    border-radius: 50%;
    aspect-ratio: 1;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {

    .content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 50px;
        justify-self: center ;
    }

    .navbar > div {
        gap: 10%;
    }

    .navbar > div > a {
        padding-block: 15%;
    }

    .navbar > div > a > p {
        display: none;
    }

    hr {
        display: none;
    }

    .logo {
        margin-left: 25px;
        margin-top: 25px;
    }

    .planet-menu {
        justify-content: center;
        gap: 20px;
    }

    .planet-box, .crew-box, .tech-box {
        width: 75%;
    }

    .planet-text, .crew-text, .tech-text {
        width: 75%;
    }

    .planet {
        margin-block: 10%;
        width: 75%;
        aspect-ratio: 1;
        align-self: center;
    }   

    .planet-stat {
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .stat-1, .stat-2 {
        text-align: center;
    }

    .crew-box {
        width: 75%;
        order : 1;
    }

    .pagination {
        margin-left: 37.5%;
    }

    .tech-pagination {
        flex-direction: row;
    }
}