body { background-color: hsl(148, 38%, 91%); font-family: 'Karla', sans-serif; }

.container {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.sub-container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-block: 100px;
    padding: 25px;
    width: 500px;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.form-section {
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    width: 100%;
}

input {
    border-color: hsl(169, 82%, 27%);
    border-radius: 5px;
    height: 25px;
    width: 100%;
}

.name { width: 50%; display: flex; flex-direction: column; gap: 5px; }

.email { width: 100%; display: flex; flex-direction: column; gap: 5px; }

.query { width: 100%; display: flex; flex-direction: column; gap: 5px; }

.query > * {
    display: inline-flex;
    gap: 3.75%;
}

.sub-query { width: 100%; }

.message { 
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px; }

.message > #message { height: 100px;}

h1, label { font-weight: bold; color : #4c4c4c; bottom: 10px;}

li {
    align-items: center;
    border-radius: 5px;
    border: 2px solid hsl(169, 82%, 27%);
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 5px 10px 5px 5px;
    width: 50%;
}

input[type = "radio"] {
    width: auto;
}

input[type = "checkbox"] {
    width: auto;
}

#submit {
    background-color: hsl(169, 82%, 27%);
    color: white;
    font-weight: bold;
    height: auto;
    padding: 10px;
    width: 100%;
}

.terms-condition {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

button{
    background: hsl(169, 82%, 27%);
    border-radius: 5px;
    border: none;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    height: 45px;
    outline: none;
    width: 100%;
}
button:hover{
    background: hsl(169, 94%, 13%);
    cursor: pointer;
}
button:active{
    opacity: .5;
    transition: all .5s ease-in-out;
}

.attribution { margin: 10px;}

.form-completed {
    position: absolute;
  top: 0px;
  right: center;
}

.completed {
    background: hsl(169, 82%, 27%);
    border-radius: 10px;
    color: #fff;
    height: 100px;
    margin: 10px auto;
    padding: 20px;
    position: relative;
    right: center;
    top: 50px;
    transition: all .5s ease-in-out;
    width: 350px;
}