* {
    font-family: Inter;
    font-size: 15px;
}

nav > div {
    display: flex;
    gap: 10px;
}

nav > div > * {
    color: hsl(233, 8%, 79%);
    font-weight: 400;
}

#menu {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen  and (width < 550px) {
    body {
        display: flex;
        flex-direction: column;
        padding-inline: 2.5% ;
        gap: 25px;
    }

    /* ========== NAVBAR ========== */

    nav {
        margin-top: 5%;
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav > div {
        display: none;
    }

    #icon {
        width: 12.5%;
        aspect-ratio: 1.5;
    }
    
    #menu {
        display: block;
        width: 15%;
        aspect-ratio: 3;
    }

    /* ========== MAIN ========== */

    main, section {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 25px;
    }

    section {
        margin-bottom: 35px;
    }

    /* ========== ARTICLE ========== */

    #article-img {
        width: 100%;
        aspect-ratio: 1.2;
    }
    
    article > h1 {
        font-size: 37.5px;
        line-height: 35px;
        font-weight: 800;
    }

    article > p {
        width: 80%;
        font-size: 15px;
        color: hsl(236, 13%, 42%);
        margin-top: -20px;
        line-height: 25px;
    }

    article > button {
        background-color: hsl(5, 85%, 63%);
        border: none;
        padding: 5% 12.5%;
        font-weight: 800;
    }

    /* ========== SIDEBAR + ASIDE ========== */

    sidebar {
        background-color: hsl(240, 100%, 5%);
        width: 90%;
        padding: 0% 5% 5% 5%;
    }

    sidebar > h1 {
        color: hsl(35, 77%, 62%);
        font-size: 28px;
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    aside > h2 { 
        color: hsl(36, 100%, 99%);
        font-size: 16px;
    }

    aside > p {
        color : hsl(233, 8%, 79%);
        margin-top: 0px;
        font-size: 12px;
    }

    aside > hr {
        width: 100%;
        border: 1px hsl(236, 13%, 42%) solid;
    }

    /* ========== SECTION + SUB-ARTICLE ========== */
    
    sub-article {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    sub-article > img {
        width: 30%;
    }

    sub-article > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 65%;
    }

    sub-article > div > h1 {
        font-size: 26px;
        font-weight: 800;
        margin-top: 10px;
        color: hsl(5, 85%, 63%);
    }

    sub-article > div > h2 {
        font-size: 16px;
        font-weight: 800;
        margin-top: -10px;
        color: hsl(240, 100%, 5%);
    }

    sub-article > div > p {
        font-size: 12px;
        margin-top: -10px;
        color: hsl(236, 13%, 42%);
    }
}



