* {
    font-family: Inter;
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 2.5% 10% ;
    gap: 35px;
}

/* ========== NAVBAR ========== */

nav {
    margin-top: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > div {
    display: flex;
    gap: 50px;
}

nav > div > * {
    color: hsl(233, 8%, 79%);
    font-weight: 400;
}

#icon {
    width: 5%;
    aspect-ratio: 1.5;
}

#menu {
    display: none;
    width: 15%;
    aspect-ratio: 3;
}

/* ========== MAIN ========== */

wrapper {
    display: flex;
    width: 100%;
    gap: 25px;
}

main, section {
    display: flex;
    width: 70%;
}

section {
    justify-content: space-between;
    gap: 5%;
    width: 100%;
}

/* ========== ARTICLE ========== */

article {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#article-img {
    width: 100%;
    aspect-ratio: 3.75;
    object-fit: cover;
}

article > text {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    gap: 15px;
}

article > text > h1 {
    font-size: 60px;
    line-height: 52px;
    font-weight: 800;
    width: 37.5%;
    margin: 0%;
}

article > text > detail {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
}

article > text > detail > p {
    width: 90%;
    font-size: 18px;
    color: hsl(236, 13%, 42%);
    margin-top: -5px;
    line-height: 25px;
}

article > text > detail >button {
    background-color: hsl(5, 85%, 63%);
    border: none;
    padding: 2.5% 5%;
    font-weight: 800;
    width: 50%;
}

/* ========== SIDEBAR + ASIDE ========== */

sidebar {
    background-color: hsl(240, 100%, 5%);
    width: 25%;
    padding: 1.25%;
}

sidebar > h1 {
    color: hsl(35, 77%, 62%);
    font-size: 32px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside > h2 { 
    color: hsl(36, 100%, 99%);
    font-size: 20px;
}

aside > p {
    color : hsl(233, 8%, 79%);
    margin-top: 0px;
    font-size: 14px;
}

aside > hr {
    width: 100%;
    border: 1px hsl(236, 13%, 42%) solid;
}

/* ========== SECTION + SUB-ARTICLE ========== */

sub-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

sub-article > img {
    width: 37.5%;
}

sub-article > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px ;
    width: 65%;
}

sub-article > div > h1 {
    font-size: 32px;
    font-weight: 800;
    margin-top: 10px;
    color: hsl(5, 85%, 63%);
}

sub-article > div > h2 {
    font-size: 24px;
    font-weight: 800;
    margin-top: -10px;
    color: hsl(240, 100%, 5%);
}

sub-article > div > p {
    font-size: 16px;
    margin-top: -10px;
    color: hsl(236, 13%, 42%);
}

/* ================ ATRRIBUTION ============== */

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen  and (width < 550px) {
    body {
        padding-inline: 2.5% ;
    }

    /* ========== NAVBAR ========== */

    nav {
        margin-top: 5%;
    }

    nav > div {
        display: none;
    }
    
    #icon {
        width: 12.5%;
    }

    #menu {
        display: block;
        cursor: pointer;
    }

    /* ========== MAIN ========== */

    wrapper {
        flex-direction: column;
    }

    main, section {
        width: 100%;
    }

    section {
        gap: 25px;
        flex-direction: column;
    }

    /* ========== ARTICLE ========== */

    article {
        gap: 10px;
    }

    article > text > h1 {
        font-size: 45px;
        line-height: 45px;
        margin-top: 5% ;
        width: 75%;
    }

    #article-img {
        aspect-ratio: 1.2;
    }

    article > text {
        flex-direction: column ;
        gap: 20px;
        width: 100%;
    }

    article > text > detail {
        width: 100%;
    }

    article > text > detail > p {
        width: 80%;
        font-size: 15px;
        line-height: 25px;
    }

    article > text > detail > button {
        padding: 5% 12.5%;
        width: 50%;
    }

    /* ========== SIDEBAR + ASIDE ========== */

    sidebar {
        width: 90%;
        padding: 0% 5% 5% 5%;
    }

    sidebar > h1 {
        font-size: 28px;
    }

    aside > h2 { 
        font-size: 16px;
    }

    aside > p {
        font-size: 12px;
    }

    /* ========== SECTION + SUB-ARTICLE ========== */

    sub-article > img {
        width: 30%;
    }

    sub-article > div {
        width: 65%;
        margin-left: 25px ;
    }

    sub-article > div > h1 {
        font-size: 32px;
        font-weight: 800;
        margin-top: 10px;
    }

    sub-article > div > h2 {
        font-size: 20px;
        font-weight: 800;
        margin-top: -10px;
    }

    sub-article > div > p {
        font-size: 16px;
        margin-top: -10px;
    }
}



