:root {
    /* Primary */
    --Very-Dark-Magenta : hsl(300, 43%, 22%);
    --Soft-Pink : hsl(333, 80%, 67%);

    /* Neutral */
    --Dark-Grayish-Magenta : hsl(303, 10%, 53%);
    --Light-Grayish-Magenta : hsl(300, 24%, 96%);
    --White : hsl(0, 0%, 100%);
}


body {
    font-family: Inter;
    color: var(--White);
}

/* =========== General components =========== */

.container {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.sub-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5%;
}

.wrapper {
    display: flex;
    height: auto;
    justify-content: space-between;
    width: 100%;
}

.wrapper:first-child {
    margin-top: -2%;
}

.wrapper:nth-child(2) {
    height: 350px;
}

/* =========== Main text section =========== */

.main-text {
    width: 35%;
    font-weight: 700;
}

.main-text > h1 {
    color: var(--Very-Dark-Magenta);
    font-size: 50px;
}

.main-text > p {
    color: var(--Dark-Grayish-Magenta);
    font-weight: 500;
}


.main-review {
    width: 45%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    gap: 10%;
}

/* =========== Star review section =========== */

.review-card {
    align-items: center;
    align-self: center;
    background-color: var(--Light-Grayish-Magenta);
    border-radius : 10px;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 0px 15px;
    width: 75%;
}

.review-text {
    align-items: center;
    color: var(--Very-Dark-Magenta);
    display: flex;
    font-size: 15px;
    font-weight: 800;
    gap: 25px;
    justify-content: space-around;
    padding: 5px;
    width: 100%;
}

.review-text > div {
    display: flex;
    width: 15px;
    height: 15px;
    gap: 5px;
}

.review-card:first-child {
    align-self: flex-start;
}

.review-card:nth-child(3) {
    align-self: flex-end;
}

.review-card {
    color : var(--Very-Dark-Magenta);
    font-weight: 500;
}

/* =========== Client review section =========== */

.client-review {
    align-self: center;
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.5%;
    width: 25%;
}

.client-review:first-child {
    align-self: flex-start;
}

.client-review:nth-child(3) {
    align-self: flex-end;
}

.client-profile {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 50%;
    padding: 10px;
}


.client-profile > img {
    aspect-ratio: 1;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.client-profile > div {
    display: flex;
    flex-direction: column;
}

.client-profile > div > p:first-child {
    font-weight : 700;
}

.client-profile > div p:nth-child(2) {
    color : var(--Soft-Pink);
    margin-top: -10px;
}

.content > p {
    margin-top:  -5px;
}

@media (max-width: 768px) {
    .wrapper {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .wrapper:first-child {
        margin-top: -5%;
    }

    .wrapper:nth-child(2) {
        margin-block : 100px ;
    }
    
    .main-text,
    .main-review,
    .client-reviews {
        gap: 20px;
        margin-top: 15px;
        text-align: center;
        width: 90%;
    }

    .main-text > h1 {
        font-size: 2rem;
        width: 50%;
        margin-left: 25%;
        font-weight: 800;
    }

    .main-text > p {
        font-size: 1rem;
    }

    .review-card {
        padding: 10px;
        width: 100%;
    }

    .review-card:first-child, .review-card:nth-child(3)  {
        align-self: center;
    }

    .review-text {
        flex-direction: column;
    }

    .review-text > div {
        align-self: center;
        margin-right: 20%;
        margin-bottom: -6.25%;
    }

    .review-text > p {
        text-align: center;
        margin-bottom: 5px;
    }

    .client-profile {
        margin-top : -10px ;
    }

    .client-review {
        width: 87.5%;
        padding: 20px;
        align-self: center;
        margin-block: 10px;
        border-radius: 10px;
    }

    .client-review:first-child, .client-review:nth-child(3)  {
        align-self: center;
    }

}

