:root {
    --Purple: hsl(259, 100%, 65%);
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
  }

h6 {
    letter-spacing: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

body {
    background-color: var(--Light-grey);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column wrap;
    background-color: var(--White);
    padding: 50px;
    border-radius: 20px;
    border-bottom-right-radius: 125px;
    width: 100%;
    margin-top: 25%;
    
}

.input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    color: var(--Smokey-grey);
}

input {
    justify-self: flex-end;
    padding: 10px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius : 10px;
    letter-spacing: 2px;
    outline: none;
    width: 100px;
    font-size: 32px;
    font-weight: 700;
    border: 1px solid var(--Light-grey)
}

hr {
    border: none;
    background-color: var(--Smokey-grey);
    height: 2px;
}

.calc-btn {
    display: flex;
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: -125px;
    margin-left: 22.5%;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    background-color: var(--Purple);
}

input:focus {
    border-color: var(--Purple);
    caret-color: var(--Purple);
}

.calc-btn:hover {
    background-color: var(--Off-black);
}

img {
    width: 30px;
    height: 30px;
}

.calc-btn:hover > img {
    transform: translateY(-5px);
    transition: ease-in-out 0.3s;
}

hr {
    background-color: hsl(0, 0%, 86%);
    width: 100%;
}

.display-calc {
    margin-top: 20px;
    font-weight: 800;
    font-size: 64px;
    font-style: italic;
}

.active {
    border-color: red;
}

.notif {
    margin-top: 10px;
    color: red;
    font-style: italic;
}

span {
    color: var(--Purple);
}

@media only screen and (max-width : 375px) {
    .calc-btn {
        margin-left: 200px;
        margin-top: -175px;
    }

    .input {
        width: 100%;
        justify-content: center;

    }

    .calc-box {
        width: 100%;
        margin-inline: 10px;
    }

    .calc-box > input {
        width: 100%;
        font-size: 20px;
        padding: 15px;
    }

    hr {
        border: 1px solid var(--Light-grey)
    };

    .display-calc {
        width: 80%;
        font-size: 36px;
        font-weight: 800;
    }

    .content {
        width: 90%;
        align-items: center;
        padding: 50px 25px;
        margin-top : 25px;
    }

    hr {
        margin-block: 10%;
    }

    .calc-btn {
        margin-left: 5%;
        margin-top: -20%;
    }
}

@media screen and (min-width : 376px) and (max-width : 750px) {    
    .calc-btn {
        margin-left: 275px;
    }

    .calc-btn {
        margin-left: 200px;
        margin-top: -175px;
    }

    .input {
        width: 100%;
        justify-content: center;

    }

    .calc-box {
        width: 100%;
        margin-inline: 10px;
    }

    .calc-box > input {
        width: 100%;
        font-size: 20px;
        padding: 15px;
    }

    hr {
        border: 1px solid var(--Light-grey)
    };

    .display-calc {
        width: 80%;
        font-size: 36px;
        font-weight: 800;
    }

    .content {
        width: 90%;
        align-items: center;
        padding: 50px 25px;
        margin-top : 25px;
    }

    hr {
        margin-block: 10%;
    }

    .calc-btn {
        margin-left: 5%;
        margin-top: -20%;
    }
}

@media screen and (min-width : 751px) and (max-width : 1092px) {
    .calc-btn {
        margin-left: 30%;
    }
}